<a href="https://colab.research.google.com/github/RishavRajSharma/AI_LAB/blob/main/Exp-2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [24, 27, 22, 32, 29],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Salary': [50000, 60000, 45000, 80000, 75000]
}

df = pd.DataFrame(data)

print("Full DataFrame:\n", df, "\n")

print("Names column:\n", df['Name'], "\n")

print("People older than 25:\n", df[df['Age'] > 25], "\n")

df['Tax'] = df['Salary'] * 0.10
print("DataFrame with Tax column:\n", df, "\n")

print("Summary statistics:\n", df.describe(), "\n")

print("Average salary by city:\n", df.groupby('City')['Salary'].mean())

Full DataFrame:
       Name  Age         City  Salary
0    Alice   24     New York   50000
1      Bob   27  Los Angeles   60000
2  Charlie   22      Chicago   45000
3    David   32      Houston   80000
4      Eva   29      Phoenix   75000

Names column:
 0      Alice
1        Bob
2    Charlie
3      David
4        Eva
Name: Name, dtype: object

People older than 25:
     Name  Age         City  Salary
1    Bob   27  Los Angeles   60000
3  David   32      Houston   80000
4    Eva   29      Phoenix   75000

DataFrame with Tax column:
       Name  Age         City  Salary     Tax
0    Alice   24     New York   50000  5000.0
1      Bob   27  Los Angeles   60000  6000.0
2  Charlie   22      Chicago   45000  4500.0
3    David   32      Houston   80000  8000.0
4      Eva   29      Phoenix   75000  7500.0

Summary statistics:
              Age        Salary          Tax
count   5.000000      5.000000     5.000000
mean   26.800000  62000.000000  6200.000000
std     3.962323  15247.950682  1524.795068
min    22.000000  45000.000000  4500.000000
25%    24.000000  50000.000000  5000.000000
50%    27.000000  60000.000000  6000.000000
75%    29.000000  75000.000000  7500.000000
max    32.000000  80000.000000  8000.000000

Average salary by city:
 City
Chicago        45000.0
Houston        80000.0
Los Angeles    60000.0
New York       50000.0
Phoenix        75000.0
Name: Salary, dtype: float64